attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
Fiona==1.8.19
GDAL==3.2.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1614589434390/work
munch==2.5.0
numpy @ file:///D:/bld/numpy_1622014749181/work
pandas @ file:///D:/bld/pandas_1618263878420/work
pyproj @ file:///D:/bld/pyproj_1621904505502/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
Rtree @ file:///D:/bld/rtree_1610147264740/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
wincertstore==0.2
